@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import "tailwindcss";

:root {
  --primary-color: #42389e;
  --primary-dark-color: #2e276f;
  --primary-light-color: #e6e7f4;
  --gray-color: #4b4b4b;
  --light-gray-color: #8a8a8a;
  --footer-color: #e6e7f3;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Merriweather Sans", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

.baseContainer {
  @apply max-w-7xl mx-auto w-full px-8 md:px-16 lg:px-20 py-3;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "DM Sans", sans-serif;
}

.mainSectionHeader {
  @apply text-center text-2xl lg:text-[2.625rem] font-semibold text-[var(--primary-color)] leading-[120%];
}
